.footer {
  background: #0a0a0a;
  padding: 60px 40px 20px;
  color: #aaa;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* brand */
.footer-brand h2 {
  color: white;
  margin-bottom: 10px;
}

/* links */
.footer-links a {
  display: block;
  color: #aaa;
  text-decoration: none;
  margin: 6px 0;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
  transform: translateX(5px);
}

/* social */
.icons {
  display: flex;
  gap: 14px;
  font-size: 22px;
}

.icons a {
  text-decoration: none;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.3);
}

/* bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #222;
  font-size: 14px;
}

/* responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}
