.gallery-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px;

  column-count: 3;
  column-gap: 20px;
}

.gallery-img {
  width: 100%;
  margin-bottom: 20px;

  border-radius: 14px;
  cursor: pointer;
  display: block;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}

/* responsive */
@media (max-width: 900px) {
  .gallery-container {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    column-count: 1;
  }
}
