.header {
  text-align: center;
  padding: 80px 20px 50px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  color:      #b1aeae;
  font-size: 16px;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 26px;
  }
}
